  <h4><%= @notice.title %></h4>
  <% if @notice.images.attached? %>
    <% @notice.images.each do |image| %>
      <div class="notice-img"><%= image_tag image.variant(resize: '500x500').processed %></div><br>
    <% end %>
  <% end %>
  <div class="notice-content">
    <p class="tab"><%= @notice.tab %></p><br>
    <p><%= @notice.body %></p><br>
    <p>投稿日　<%= @notice.updated_at.strftime("%Y年%-m月%-d日") %></p>
  </div>
<%= link_to "戻る", notices_path, class: "button" %><br>
