<h4>予約一覧</h4>
<div class="row">
  <p class="col-3">名前</p>
  <p class="col-3">部屋</p>
  <p class="col-3">到着日</p>
  <p class="col-3">出発日</p>
</div>
<div class="row">
  <% @reservations.each do |reservation| %>
    <%= link_to  admin_reservation_path(reservation), class: "col-3" do %>
      <p><%= reservation.guest.name %></p>
    <% end %>
      <p class="col-3"><%= reservation.room.name %></p>
      <p class="col-3"><%= reservation.start_date %></p>
      <p class="col-3"><%= reservation.end_date %></p>
    </tr>
  <% end %>
</div>
