<div class="wrapper">
  <div class="customer-reservation">
    <h4>予約履歴（全<%= @guest.count %>件）</h4>
    <table>
      <tr>
        <td><h5>予約名</h5></td>
        <td><h5>到着日</h5></td>
        <td><h5>出発日</h5></td>
        <td><h5>予約日</h5></td>
      </tr>
      <% @guest.each do |guest| %>
        <tr>
          <td><p>
            <%= link_to customer_path(guest) do %>
              <%= guest.name %>
            <% end %>
          </p></td>
          <% @reservation.each do |reservation| %>
            <td><p><%= guest.reservation.start_date.strftime("%Y年%-m月%-d日") %></p></td>
            <td><p><%= guest.reservation.end_date.strftime("%Y年%-m月%-d日") %></p></td>
            <td><p><%= guest.reservation.created_at.strftime("%Y年%-m月%-d日") %></p></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>