<h4>予約詳細</h4>
<div class="wrapper">
  <div class="reservation-history">
    <div class="reservation-box">
      <h5>宿泊者情報　( <%= link_to "編集する", edit_customer_path(@guest), class: "edit-guest" %> )</h5>
      <table>
        <tr>
          <td><p>名前</p></td>
          <td><p><%= @guest.name %></p></td>
        </tr>
        <tr>
          <td><p>性別</p></td>
          <td>
            <% if @guest.sex == true %>
            <p>男</p>
            <% elsif @guest.sex == false %>
            <p>女</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><p>生年月日</p></td>
          <td><p><%= @guest.birthday.strftime("%Y年%-m月%-d日") %></p></td>
        </tr>
        <tr>
          <td><p>郵便番号</p></td>
          <td><p>〒<%= @guest.zipcode %></p></td>
        </tr>
        <tr>
          <td><p>住所</p></td>
          <td><p><%= @guest.address %></p></td>
        </tr>
        <tr>
          <td><p>電話番号</p></td>
          <td><p><%= @guest.phone_number %></p></td>
        </tr>
        <tr>
          <td><p>メールアドレス</p></td>
          <td><p><%= @guest.email %></p></td>
        </tr>
      </table>
      <% if @reservation.is_flag == true %>
        <%= button_to "予約をキャンセルにする", reservation_path(@reservation), method: :patch, remote: true, class: "button-flag" %>
      <% elsif @reservation.is_flag == false %>
        <%= button_to "キャンセルを取り消す", reservation_path(@reservation), method: :patch, remote: true, class: "button-flag" %>
      <% end %>
    </div>
    <!--部屋・日付など-->
    <div class="reservation-box">
      <h5>予約内容</h5>
      <table>
        <tr>
          <td><p>予約番号</p></td>
          <td><p><%= @reservation.id %></p></td>
        </tr>
        <tr>
          <td><p>部屋</p></td>
          <td><p><%= @reservation.room.name %></p></td>
        </tr>
        <tr>
          <td><p>宿泊人数</p></td>
          <td><p><%= @reservation.room.people %>名</p></td>
        </tr>
        <tr>
          <td><p>料金</p></td>
          <td><p><%= @reservation.room.price %>円</p></td>
        </tr>
        <tr>
          <td><p>到着日</p></td>
          <td><p><%= @reservation.start_date.strftime("%Y年%-m月%-d日") %></p></td>
        </tr>
        <tr>
          <td><p>出発日</p></td>
          <td><p><%= @reservation.end_date.strftime("%Y年%-m月%-d日") %></p></td>
        </tr>
        <tr>
          <td><p>予約日</p></td>
          <td><p><%= @reservation.created_at.strftime("%Y年%-m月%-d日　%-H時%-M分") %></p></td>
        </tr>
        <tr id="reservation-flag">
          <%= render "admin/reservations/flag", reservation: @reservation %>
        </tr>
      </table>
    </div>
  </div>
  <%= link_to "戻る", mypage_customer_path(current_customer), class: "button" %>
</div>


