<!--管理者側 お問い合わせ一覧-->
<% contacts.each do |contact| %>
  <%= link_to  admin_contact_path(contact) do %>
    <div class="row justify-content-center">
      <p class="col-1"><%= contact.id %></p>
      <p class="col-2"><%= contact.title %></p>
      <p class="col-3"><%= contact.body %></p>
      <p class="col-2"><%= contact.name %></p>
      <p class="col-1"><%= contact.status %></p>
      <p class="col-2"><%= contact.created_at.strftime("%Y年%-m月%-d日") %></p>
    </div>
  <% end %>
<% end %>

