<h4>お問い合わせ一覧</h4>
<div class="row">
  <p class="col-3">タイトル</p>
  <p class="col-3">内容</p>
  <p class="col-3">名前</p>
  <p class="col-3">対応状況</p>
</div>
<div class="row">
  <% @contacts.each do |contact| %>
    <%= link_to  admin_contact_path(contact), class: "col-3" do %>
      <p><%= contact.title %></p>
    <% end %>
      <p class="col-3"><%= contact.body %></p>
      <p class="col-3"><%= contact.name %></p>
      <p class="col-3"><%= contact.status %></p>
    </tr>
  <% end %>
</div>
