<h4>お問い合わせ詳細</h4>
<div class="wrapper">
  <div class="admin-contact">
    <table>
    <tr class="row">
      <td><h5>タイトル</h5></td>
      <td><p><%= @contact.title %></p></td>
    </tr>
    <tr class="row">
      <td><h5>内容</h5></td>
      <td><p class="contact-body"><%= @contact.body %></p></td>
    </tr>
    <tr class="row">
      <td><h5>名前</h5></td>
      <td><p><%= @contact.name %></p></td>
    </tr>
    <tr class="row">
      <td><h5>メールアドレス</h5></td>
      <td><p><%= @contact.email %></p></td>
    </tr>
    </table>
  </div>

  <!--サクセスメッセージ-->
  <div id="success-msg">
  </div>

  <!--ステータス変更-->
  <div class="contact-status">
    <%= form_with model: @contact, url: admin_contact_path do |f| %>
      <%= f.select :status, Contact.statuses.keys %>
      <%= f.submit "更新", class: "button-update" %>
    <% end %>
  </div>

  <%= link_to "戻る", :back, class: "button" %>
</div>