<h4>お問い合わせ詳細</h4>
<div class="wrapper">
  <div class="admin-contact">
    <table>
      <tr class="row">
        <td><h5>タイトル</h5></td>
        <td><p><%= @contact.title %></p></td>
      </tr>
      <tr class="row">
        <td><h5>内容</h5></td>
        <td><p><%= @contact.body %></p></td>
      </tr>
      <tr class="row">
        <td><h5>名前</h5></td>
        <td><p><%= @contact.name %></p></td>
      </tr>
      <tr class="row">
        <td><h5>メールアドレス</h5></td>
        <td><p class="mail_to"><%= render "admin/contacts/mail", contact: @contact %></p></td>
      </tr>
      <tr class="row">
        <td><h5>お問い合わせ日</h5></td>
        <td><p><%= @contact.created_at.strftime("%Y年%-m月%-d日　%-H時%-M分") %></p></td>
      </tr>
      <tr class="row">
        <td><h5>更新日</h5></td>
        <td id="update-<%= @contact.id %>">
          <%= render "admin/contacts/update", contact: @contact %>
        </td>
      </tr>
    </table>
  </div>

  <!--サクセスメッセージ-->
  <div id="success-msg">
  </div>

  <!--ステータス変更-->
  <div class="contact-status">
    <%= form_with model: @contact, url: admin_contact_path do |f| %>
      <%= f.select :status, Contact.statuses.keys %>
      <%= f.submit "更新", class: "button-update" %>
    <% end %>
  </div>

  <%= link_to "戻る", :back, class: "button" %>
</div>