<h4>お問い合わせ詳細</h4>
<div class="wrapper">
  <div class="admin-contact">
    <table>
    <tr class="row">
      <td><h5>タイトル</h5></td>
      <td><p><%= @contact.title %></p></td>
    </tr>
    <tr class="row">
      <td><h5>内容</h5></td>
      <td><p class="contact-body"><%= @contact.body %></p></td>
    </tr>
    <tr class="row">
      <td><h5>名前</h5></td>
      <td><p><%= @contact.name %></p></td>
    </tr>
    <tr class="row">
      <td><h5>メールアドレス</h5></td>
      <td><p><%= @contact.email %></p></td>
    </tr>
    </table>
  </div>

  <!--ステータス変更-->
  <div class="contact-status">
    <!--サクセスメッセージ-->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}")%>
    <% end %>

    <%= form_with model: @contact, url: admin_contact_path, local: true do |f| %>
      <%= f.select :status, Contact.statuses.keys %>
      <%= f.submit "更新", class: "button-update" %>
    <% end %>
  </div>
  <%= link_to "戻る", admin_contacts_path, class: "button" %>
</div>