<h4>内容確認</h4>
<div class="wrapper">
  <div class="step-wrapper">
    <%= render "reservations/step" %>
  </div>
  <div class="reservation-history">
    <div class="reservation-box">
      <h5>宿泊者情報</h5>
      <table>
        <tr>
          <td><p>名前</p></td>
          <td><p><%= @guest.name %></p></td>
        </tr>
        <tr>
          <td><p>フリガナ</p></td>
          <td><p><%= @guest.name_kana %></p></td>
        </tr>
        <tr>
          <td><p>生年月日</p></td>
          <td><p><%= @guest.birthday %></p></td>
        </tr>
        <tr>
          <td><p>性別</p></td>
          <td><p><% if @guest.sex %>男<% else%>女<% end %></p></td>
        </tr>
        <tr>
          <td><p>郵便番号</p></td>
          <td><p><%= @guest.zipcode %></p></td>
        </tr>
        <tr>
          <td><p>住所</p></td>
          <td><p><%= @guest.address %></p></td>
        </tr>
        <tr>
          <td><p>電話番号</p></td>
          <td><p><%= @guest.phone_number %></p></td>
        </tr>
        <tr>
          <td><p>メールアドレス</p></td>
          <td><p><%= @guest.email %></p></td>
        <tr>
      </table>
    </div>

    <div class="reservation-box">
      <h5>予約内容</h5>
      <table>
        <tr>
          <td><p>チェックイン日</p></td>
          <td><p><%= @reservation.start_date %></p></td>
        </tr>
        <tr>
          <td><p>チェックアウト日</p></td>
          <td><p><%= @reservation.end_date %></p></td>
        </tr>
        <tr>
          <td><p>宿泊人数</p></td>
          <td><p><%= @reservation.people %>名</p></td>
        </tr>
        <tr>
          <td><p>部屋タイプ</p></td>
          <td><p><%= @room_name %></p></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<%= form_with model: @guest_confirm, url: reservations_path, local: true do |f| %>
  <%= f.hidden_field :start_date, value: @reservation.start_date %>
  <%= f.hidden_field :end_date, value: @reservation.end_date %>
  <%= f.hidden_field :people, value: @reservation.people %>
  <%= f.hidden_field :room_id, value: @reservation.room_id %>
  <%= f.hidden_field :name, value: @guest.name %>
  <%= f.hidden_field :name_kana, value: @guest.name_kana %>
  <%= f.hidden_field :birthday, value: @guest.birthday %>
  <%= f.hidden_field :sex, value: @guest.sex %>
  <%= f.hidden_field :zipcode, value: @guest.zipcode %>
  <%= f.hidden_field :address, value: @guest.address %>
  <%= f.hidden_field :phone_number, value: @guest.phone_number %>
  <%= f.hidden_field :email, value: @guest.email %>
  <%= f.submit "戻る", name: :back, class: "button" %>
  <%= f.submit "確定", class: "button" %>
<% end %>

<script>
  $(function(){
    path = location.pathname
    if(path.match("/reservations/confirm")){
    $(".step3").addClass("step-now");
    }
  });
</script>
