<h4>情報入力</h4>
<div class="reservation">
  <div id="guest-errors">
    <%= render "reservations/guest_errors", guest: @guest %>
  </div>

  <%= form_with model: @guest, url: confirm_reservations_path, local: true do |f| %>
    <table>
      <tr>
        <td><%= f.label :name, "名前" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :name_kana, "フリガナ" %></td>
        <td><%= f.text_field :name_kana %></td>
      </tr>
      <tr>
        <td><%= f.label :birthday, "生年月日" %></td>
        <td><%= f.date_select(:birthday, use_month_numbers: true, start_year: (Date.today.year-100), end_year: (Date.today.year-20), selected: 2000, date_separator: '/') %></td>
      </tr>
      <tr>
        <td><%= f.label :sex, "性別" %></td>
        <td>
          <%= f.radio_button :sex, true %><label>男</label>
          <%= f.radio_button :sex, false %><label>女</label>
        </td>
      </tr>
      <tr>
        <td><%= f.label :zipcode, "郵便番号" %></td>
        <td><%= f.text_field :zipcode %></td>
      </tr>
      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td><%= f.label :phone_number, "電話番号" %></td>
        <td><%= f.text_field :phone_number %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email %><br></td>
      <tr>
    </table>
    <%= f.hidden_field :start_date, value: @start_date %>
    <%= f.hidden_field :end_date, value: @end_date %>
    <%= f.hidden_field :people, value: @people %>
    <%= f.hidden_field :room, value: @room %>
    <%= f.submit "確認", class: "button" %>
  <% end %>
</div>