<h4>管理者ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="admin-login">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %><br>
    <%= f.submit "ログイン", class: "button" %>
  </div>
<% end %>