<h4>客室一覧</h4>
<!--< @rooms.each do |room| %>-->
<!--  <div class="rooms">-->
<!--    <div class="room-image">-->
<!--      <= image_tag room.image, width: '95%' %>-->
<!--    </div>-->
<!--    <div class="room-content">-->
<!--      <p><= room.name %></p>-->
<!--      <p><= room.body %></p>-->
<!--      <p><= room.price %>円</p>-->
<!--      <p>定員<= room.people %>名</p>-->
<!--      <p>全<= room.capacity %>室</p>-->
<!--    </div>-->
<!--  </div>-->
<!--< end %>-->

  <div class="rooms">
    <div class="room-image">
      <img src="/assets/room1.jpg" id="image" width="95%">
      <img src="/assets/room1_sub.jpg" id="image" width="95%">
    </div>
    <div class="room-content">
      <p><%= @room1.name %></p>
      <p><%= @room1.body %></p>
      <p><%= @room1.price %>円</p>
      <p>定員<%= @room1.people %>名</p>
      <p>全<%= @room1.capacity %>室</p>
    </div>
  </div>
  <div class="rooms">
    <div class="room-image">
      <img src="/assets/room2.jpg" id="image" width="95%">
      <img src="/assets/room2_sub.jpg" id="image" width="95%">
    </div>
    <div class="room-content">
      <p><%= @room2.name %></p>
      <p><%= @room2.body %></p>
      <p><%= @room2.price %>円</p>
      <p>定員<%= @room2.people %>名</p>
      <p>全<%= @room2.capacity %>室</p>
    </div>
  </div>
  <div class="rooms">
  <div class="room-image">
    <img src="/assets/room3.jpg" id="image" width="95%">
    <img src="/assets/room3_sub.jpg" id="image" width="95%">
  </div>
  <div class="room-content">
    <p><%= @room3.name %></p>
    <p><%= @room3.body %></p>
    <p><%= @room3.price %>円</p>
    <p>定員<%= @room3.people %>名</p>
    <p>全<%= @room3.capacity %>室</p>
  </div>
</div>

<script>
$(".room-image").slick({
  accessibility: true,
  autoplay: true,
  autoplaySpeed: 4000,
  fade: true,
});
</script>