<!--レビュー 絞り込み検索-->
<%= form_with  scope: :review_search, url: reviews_path, method: :get, local: true do |f| %>
  <a class="review-form-close" href="">×</a>

  <p>部屋タイプ</p>
  <%= f.check_box :room, { multiple: true }, "1", nil %>
  <%= f.label :room_1, "type1" %>
  <%= f.check_box :room, { multiple: true }, "2", nil %>
  <%= f.label :room_2, "type2" %><br>
  <%= f.check_box :room, { multiple: true }, "3", nil %>
  <%= f.label :room_3, "type3" %>
  <div class="line"></div>
  <p>評価</p>
  <%= f.check_box :star, { multiple: true }, 5, nil %>
  <%= f.label :star_5, "星５" %>
  <%= f.check_box :star, { multiple: true }, 4, nil %>
  <%= f.label :star_4, "星４" %>
  <%= f.check_box :star, { multiple: true }, 3, nil %>
  <%= f.label :star_3, "星３" %><br>
  <%= f.check_box :star, { multiple: true }, 2, nil %>
  <%= f.label :star_2, "星２" %>
  <%= f.check_box :star, { multiple: true }, 1, nil %>
  <%= f.label :star_1, "星１" %>
  <div class="line"></div>
  <p>年代</p>
  <%= f.check_box :age, { multiple: true }, "１０代", nil %>
  <%= f.label :age_１０代, "１０代" %>
  <%= f.check_box :age, { multiple: true }, "２０代", nil %>
  <%= f.label :age_２０代, "２０代" %><br>
  <%= f.check_box :age, { multiple: true }, "３０代", nil %>
  <%= f.label :age_３０代, "３０代" %>
  <%= f.check_box :age, { multiple: true }, "４０代", nil %>
  <%= f.label :age_４０代, "４０代" %><br>
  <%= f.check_box :age, { multiple: true }, "５０代", nil %>
  <%= f.label :age_５０代, "５０代" %>
  <%= f.check_box :age, { multiple: true }, "６０代〜", nil %>
  <%= f.label :age_６０代〜, "６０代〜" %>
  <div class="line"></div>
  <p>性別</p>
  <%= f.check_box :sex, { multiple: true }, "男性", nil %>
  <%= f.label :sex_男性, "男性" %>
  <%= f.check_box :sex, { multiple: true }, "女性", nil %>
  <%= f.label :sex_女性, "女性" %><br>
  <div class="line"></div>
  <%= f.submit "検索", class: "button-mini", id: "review-submit" %>
<% end %>