<h4>投稿記事編集</h4>
<!--サクセスメッセージ-->
<div class="wrapper">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}")%>
  <% end %>
</div>
<script>
  $(function(){
    $(".notice").fadeOut(5000);
  });
</script>

<%= form_with model: [:admin, @notice], local: true do |f| %>
<div class="notice-form">
  <div class="notice-form-item">
  <%= f.label "タイトル" %>
  <%= f.text_field :title, size: "60" %>
  </div>
  <div class="notice-form-item">
  <%= f.label "内容" %>
  <%= f.text_area :body, size: "60" %>
  </div>
  <div class="notice-form-item">
  <%= f.label "種類" %>
  <%= f.select :tab, {お知らせ: "お知らせ", イベント・キャンペーン: "イベント・キャンペーン", その他: "その他"} %><br>
  </div>
  <div class="notice-form-item">
  <%= f.file_field :images, multiple: true %>
  </div>

    <% if @notice.images.attached? %>
      <div class="notice-image">
        <p>現在登録されている画像<br>（削除するものはチェックしてください）</p>
        <% @notice.images.each do |image| %>
          <%= f.check_box :image_ids, {:multiple => true}, image.id, false%>
          <%= image_tag image, width: "20%" %> <br>
        <% end %>
      </div>
    <% end %>
  <%= f.submit "更新" , class: "button" %>
  <%= link_to "戻る", admin_notices_path, class: "button" %><br>
  <%= link_to "投稿を削除する", admin_notice_path(@notice), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-light btn-sm mb-5" %>
</div>
<% end %>
