<div class="header-wrapper">
  <%= link_to root_path do %>
    <%= image_tag("hotel-logo.png", class: "logo") %>
  <% end %>
  <span id="hamberger"><i class="fas fa-bars fa-3x"></i></span>
  <div class="header" id="header">
    <% if admin_signed_in? %>
      <%= link_to "通知", admin_notifications_path, class: "link header-notification", id: "link" %>
        <% if not_checked_notifications.any? %>
          <span><i class="fas fa-circle" style="font-size: 10px;"></i></span>
        <% end %>
      <%= link_to "お知らせ", admin_notices_path, class: "link header-notice", id: "link" %>
      <%= link_to "予約", admin_reservations_path, class: "link header-reservation", id: "link" %>
      <%= link_to "お問い合わせ", admin_contacts_path, class: "link header-contact", id: "link" %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "link", id: "link" %>
    <% elsif customer_signed_in? %>
      <%= link_to "room", rooms_path, class: "link header-room", id: "link" %>
      <%= link_to "news", notices_path, class: "link header-notice", id: "link" %>
      <%= link_to "reservation", search_reservations_path, class: "link header-reservation", id: "link" %>
      <%= link_to "review", reviews_path, class: "link header-review" %>
      <%= link_to "access", access_path, class: "link header-access", id: "link" %>
      <%= link_to "contact", new_contact_path, class: "link header-contact", id: "link" %>
      <%= link_to "mypage", mypage_customer_path(current_customer), class: "link header-mypage", id: "link" %>
      <%= link_to "logout", destroy_customer_session_path, method: :delete, class: "link header-logout", id: "link" %>
    <% else %>
      <%= link_to "room", rooms_path, class: "link header-room", id: "link" %>
      <%= link_to "news", notices_path, class: "link header-notice", id: "link" %>
      <%= link_to "reservation", search_reservations_path, class: "link header-reservation", id: "link" %>
      <%= link_to "review", reviews_path, class: "link header-review" %>
      <%= link_to "access", access_path, class: "link header-access", id: "link" %>
      <%= link_to "contact", new_contact_path, class: "link header-contact", id: "link" %>
      <%= link_to "login", new_customer_session_path, class: "link header-login", id: "link" %>
    <% end %>
  </div>
</div>

<script>
  /**ハンバーガーメニュー**/
  function hamburger(){
    document.getElementById("header").classList.toggle("open");
  };
  document.getElementById("hamberger").addEventListener("click",function(){
    hamburger();
  });

  /**カレント表示**/
  $(function(){
    path = location.pathname
    if(path.match("/rooms")){
    $(".header-room").addClass("current");
    }
    if(path.match("/notices")){
    $(".header-notice").addClass("current");
    }
    if(path.match("/reservations")){
    $(".header-reservation").addClass("current");
    }
    if(path.match("/reviews")){
    $(".header-review").addClass("current");
    }
    if(path.match("/access")){
    $(".header-access").addClass("current");
    }
    if(path.match("/contacts")){
    $(".header-contact").addClass("current");
    }
    if(path.match("/customers/sign_in")){
    $(".header-login").addClass("current");
    }
    if(path.match("/customer/:id/mypage")){
    $(".header-mypage").addClass("current");
    }
    if(path.match("/customers/sign_up")){
    $(".header-logout").addClass("current");
    }
    if(path.match("/admin/notifications")){
    $(".header-notification").addClass("current");
    }
    if(path.match("/admin/notices")){
    $(".header-notice").addClass("current");
    }
    if(path.match("/admin/reservations")){
    $(".header-reservation").addClass("current");
    }
    if(path.match("/admin/contacts")){
    $(".header-contact").addClass("current");
    }
  });
</script>
