<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  </head>

  <body>
    <header>
        <%= render "layouts/header" %>
    </header>

    <main>
      <%= yield %>
    </main>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
  </body>
</html>
