<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/51b68fc5d8.js" crossorigin="anonymous"></script>
    <script src="https://maps.google.com/maps/api/js?key=<%= ENV["API_KEY"]%>&language=ja"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <header>
      <% unless current_page?(root_path) %>
        <%= render "layouts/header" %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!--<small>Copyright © 2021 maki All Rights Reserved.</small>-->
      <% unless current_page?(root_path) || current_admin %>
        <%= render "layouts/footer" %>
      <% end %>
    </footer>
  </body>
</html>
